@font-face {
    font-family: 'MapoFlowerIsland';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  font: 300 15px/24px MapoFlowerIsland;
  min-height: 100%;
  height: 100%;
  color: #000;
  background-color: #FFFEFE;
}

body b {
  font: 500 15px/24px MapoFlowerIsland;
}

html {
  min-height: 100%;
  height: 100%
}

.page {
  min-height: 100%;
  position: relative;
  height: 100%;
}

section {
  width: 100%;
  overflow: hidden;
  text-align: center;
  position: relative;
  padding: 0
}

a {
  color: #6F6F6F;
}

.container {
  position: relative;
  z-index: 1;
  padding: 40px 16px 40px;
  max-width: 970px
}

.btn1 {
  font: 500 14px MapoFlowerIsland;
  padding: 8px;
  border-radius: 1;
  margin: 20px 4px;
  overflow: hidden;
  position: relative;
  background: none;
  min-width: 88px;
  min-height: 36px;
  transition: 0.5s all;
}

.btn:active, .btn:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  color: #FFF !important
}

.main_ticket {
  background-size: 640px auto;
  width: 100%;
  height: 1410px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
}

.notice {
  background-size: 640px auto;
  width: 100%;
  height: 570px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
}

.photo_booth{
  background-size: 640px auto;
  width: 100%;
  height: 74px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
}

.photo_grid{
	background-size: 640px auto;
	width: 100%;
	height: 100%;
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: scroll;
}

.row {
	margin-top: 6px;
}

.column {
	margin: -3px;
	object-fit: cover;
	width: 214px;
	height: 214px;
}

.column:hover {
	transition: 0.5s;
	opacity: 0.8;
}

.modal-thumbnail {
	object-fit: cover;
	width: 100px;
	height: 100px;	
}

.modal-thumbnail:hover {
	transition: 0.5s;
	opacity: 0.8;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

.modal-content {
  position: relative;
  background-color: black;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

.margin-container {
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.cursor {
  cursor: pointer;
}
  
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.mySlides {
	background-size: 640px auto;
	width: 100%;
	display: none;
}

/*# 11. Contact */
h2 {
  font: 28px/32px MapoFlowerIsland
}

h3 {
  font: 20px/28px MapoFlowerIsland
}

h3 b{
  font: 24px/32px MapoFlowerIsland
}

h4 {
  font: 20px/28px MapoFlowerIsland
}

h4 b{
  font: 20px/28px MapoFlowerIsland
}

h5 {
  font: 20px/28px MapoFlowerIsland
}

h5 b{
  font: 24px/32px MapoFlowerIsland
}

h6 {
  font : 10px/12px 
}

.account{
  background-size: 640px auto;
  width: 100%;
  height: 400px;
  position: relative;
  text-align: center;
  vertical-align: top;
}

.btn2 {
  font:500 20px MapoFlowerIsland;
  padding: 8px 6px;
  border: none;
  overflow: hidden;
  position: relative;
  background: none;
  min-width: 88px;
  min-height: 36px;
  transition: 0.5s all;
  color: #DB7093;
}

/*# 13. Responsive*/
@media (max-width: 639px) {
  .main_ticket {
    background-size:375px auto;
    height:825px;
  }
  
  .notice {
    background-size:375px auto;
    height:330px;
  }

  .photo_booth {
    background-size: 375px auto;
	height:44px;
  }
	
	.photo_grid{
		background-size: 375px auto;
		width: 100%;
		height: 100%;
		position: relative;
		background-repeat: no-repeat;
		background-position: center;
		background-attachment: scroll;
	}

	.column {
		object-fit: cover;
		width: 126px;
		height: 126px;
	}

  h3 {
    font: 14px/20px MapoFlowerIsland
  }

  h3 b {
    font: 16px/24px MapoFlowerIsland
  }

  h4 {
    font: 14px/20px MapoFlowerIsland
  }

  h4 b{
    font: 14px/20px MapoFlowerIsland
  }

  h5 {
    font: 14px/18px MapoFlowerIsland
  }

  h5 b {
    font: 22px/30px MapoFlowerIsland
  }

  h6 {
    font : 10px/12px 
  }

  .tsicon {
    width: 16px;
  }

  .tsicon0 {
    height: 16px;
  }


}

@media (max-width: 360px) {
  .main_ticket {
    background-size:360px auto;
    height:795px;
  }

  .notice{
    background-size: 360px auto;
	height:300px;
  }

  .photo_booth {
    background-size: 360px auto;
	height:41px;
  }
  

  .photo3_btn {
    position: absolute;
    margin: 0;
    width: 100%;
    bottom: 520px;
  }

  .btn {
    font:500 12px MapoFlowerIsland;
    color: #DB7093;
    min-width: 40px;
    height: 10px;
    padding: 0px 0px;
    border: none;
  }

  .btn2 {
    font:500 15px MapoFlowerIsland;
    min-width: 40px;
    color: #DB7093;
    height: 10px;
    padding: 0px 0px;
    border: none;
  }

  .location_link{
    bottom: 237px;
    text-align: center;
  }

  .map-icon{
    width: 22px;
  }

  h3 {
    font: 14px/20px MapoFlowerIsland
  }

  h3 b {
    font: 16px/24px MapoFlowerIsland
  }

  h4 {
    font: 14px/20px MapoFlowerIsland
  }

  h4 b{
    font: 14px/20px MapoFlowerIsland
  }

  h5 {
    font: 14px/18px MapoFlowerIsland
  }

  h5 b {
    font: 22px/30px MapoFlowerIsland
  }

  h6 {
    font : 10px/12px 
  }

  .tsicon {
    width: 16px;
  }

  .tsicon0 {
    height: 16px;
  }

@media (max-width: 320px) {
  .main_ticket {
    background-size:320px auto;
    height:705px;
  }
  
  .notice {
	background-size:320px auto;
	height:285px;
  }

  .photo_booth {
    background-size: 320px auto;
	height:39px;
  }

  .photo3_btn {
    position: absolute;
    margin: 0;
    width: 100%;
    bottom: 460px;
  }

  .btn {
    font:500 12px MapoFlowerIsland;
    color: #DB7093;
    min-width: 40px;
    height: 10px;
    padding: 0px 0px;
    border: none;
  }

  .btn2 {
    font:500 15px MapoFlowerIsland;
    min-width: 40px;
    color: #DB7093;
    height: 10px;
    padding: 0px 0px;
    border: none;
  }


  .location_link{
    bottom: 205px;
    text-align: center;
  }

  .map-icon{
    width: 22px;
  }

  h3 {
    font: 12px/18px MapoFlowerIsland
  }

  h3 b {
    font: 14px/20px MapoFlowerIsland
  }

  h4 {
    font: 12px/18px MapoFlowerIsland
  }

  h4 b{
    font: 12px/18px MapoFlowerIsland
  }

  h5 {
    font: 12px/18px MapoFlowerIsland
  }

  h5 b {
    font: 22px/30px MapoFlowerIsland
  }

  h6 {
    font : 10px/12px 
  }

  .tsicon {
    width: 12px;
  }

  .tsicon0 {
    height: 14px;
  }
}